@use "../../styles/styles.scss" as var;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@each $name, $color in var.$chooseColors {
    .choose#{$name} {
        background: $color;
    }
}

.datePickerContainer {
    transition: transform 400ms;
    @include var.breakpoint("mobileSM") {
        width: 100%;
        & > div{
            width: calc(100% - 50px);
            margin: auto;
        }
    }
    &.openedDrawer {
        transform: translateX(-50px);
    }
}
.datePickWrapper {
    width: fit-content;
    @include var.breakpoint("laptop") {
        margin-bottom: 100px;
    }
    background: #ffffff;
    display: flex;
    min-height: 440px;
    @include var.breakpoint("mobileLG") {
        min-height: 350px;    
    }
    @include var.breakpoint("mobileSM") {
        min-height: 310px;    
    }
    gap: 20px;
    position: relative;
    flex-direction: row;
    width: fit-content;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 50px 4px rgba(221, 221, 221, 0.35);
    border-radius: 10px 10px 0px 0px;
    padding: 20px 40px;
    @include var.breakpoint("mobileSM") {
        padding:10px 10px;  
    }
    .datePickerInfo {
        display: flex;
        align-items: center;
        border: 1px solid rgb(242, 242, 242);
        box-sizing: border-box;
        box-shadow: rgb(221 221 221 / 35%) 0px 0px 50px 4px;
        border-radius: 0px 0px 10px 10px;
        position: absolute;
        top: 100%;
        left: -1px;
        flex-wrap: wrap;

        width: calc(100% + 2px);
        padding: 20px 40px;

        @include var.breakpoint("mobileSM") {
            padding: 20px 20px;
        }
        & > button{
            @include var.breakpoint("mobileSM") {
                width: 100%;
                font-size: 0.8rem;
            }
        }
        .pickerChooseInfo {
            & > div,
            & {
                flex-wrap: wrap;
                align-items: center;
                display: flex;
            }
            @include var.breakpoint("laptop") {
                gap: 10px;
                margin-left: 0px;
                margin-top: 15px;
            }
            gap: 20px;
            & > div {
                gap: 5px;
                p {
                    font-weight: 300;
                    @include var.breakpoint("laptop") {
                        font-size: 0.9rem;
                    }
                }
                span {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    @include var.breakpoint("laptop") {
                        width: 15px;
                        height: 15px;
                    }
                    &.choosetoday {
                        background-color: transparent !important;
                        border: 1px solid var.getChooseColor(today);
                    }

                    &.chooseLogin,
                    &.chooseExit {
                        overflow: hidden;
                        position: relative;
                        &::before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background: var.getChooseColor(checkInOut) !important;
                            position: absolute;
                            clip-path: polygon(0 0, 0% 100%, 100% 0);
                            top: 0;
                            z-index: 0;
                            border: 1px solid var.getChooseColor(checkInOut);
                            left: 0;
                        }
                    }
                    &.chooseLogin::before {
                        clip-path: polygon(0 0, 0% 100%, 100% 0);
                    }
                    &.chooseExit::before {
                        clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
                    }
                }
            }
            margin-left: auto;
        }
    }
    .rightArrow {
        right: 30px;

        @include var.breakpoint("mobileSM") {
            right:10px;
        }
    }
    .rightArrow,
    .leftArrow {
        top: calc(1.5em + 5px);
        padding: 15px;
        background-color: #fff;
        @include var.breakpoint("mobileSM") {
            top: calc(1.5em - 6px);
        }
        display: flex;
        position: absolute;
        border: 0;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: var.getChooseColor(checkInRange);
        }

        &[disabled] {
            opacity: 0.1;
            cursor: no-drop;
            background-color: transparent;
        }
    }
    .leftArrow {
        left: 10px;
        @include var.breakpoint("mobileSM") {
            left:10px;
        }
    }

    .datePickerMonths {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        & > div:nth-child(2n + 2) {
            margin: 0px 20px 0px 20px;
            padding: 0px 20px 0px 20px;
            border-right: 1px solid rgba(1, 1, 1, 0.05);
            border-left: 1px solid rgba(1, 1, 1, 0.05);
            &:last-child {
                border-right: 0px;
                margin-right: 0px;
                padding-right: 0px;
            }
        }

        .WeekMonthWrapper {
            @include var.breakpoint("mobileLG") {
                grid-template-columns: repeat(7, 50px);
            }
            @include var.breakpoint("mobileSM") {
                grid-template-columns: repeat(7, 45px);  
            }
            @include var.breakpoint("mobileXS") {
                grid-template-columns: repeat(7, 30px);  
            }
            grid-template-columns: repeat(7, 70px);
            display: grid;
            column-gap: 5px;
            row-gap: 5px;
        }
        .inbtwDates {
            background: #edf2ff;
            color: black !important;
            border-color: var.getChooseColor(checkInRange) !important;
        }

        .dayWrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            border: 1px solid transparent;
            align-items: center;
            text-align: center;
            font-feature-settings: "tnum" on, "lnum" on;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            flex-direction: column;
            @include var.breakpoint("mobileSM") {
                height: 35px;
            }
            height: 48px;
            row-gap: 5px;
            & > div:first-child {
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                @include var.breakpoint("mobileSM") {
                   font-size: 11px;
                }
                line-height: 15px;
            }
            & > * {
                position: relative;
                z-index: 2;
            }
            &.activeDay:hover ~ &.activeDay,
            &.activeDay:hover {
                background: #f2f2f2;
                border: 1px solid #f2f2f2;
            }
            &.notActiveDay:hover {
                cursor: no-drop;
            }
        }
        .dayWeekend,
        .weekDaysWrapper > div:nth-child(n + 6) {
            color: #a72929 !important;
        }

        .weekDaysTitle {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            & > div {
                display: block;
                text-align: center;
                font-size: 1.17em;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
            }
        }
        .weekDaysWrapper {
            @include var.breakpoint("mobileLG") {
                grid-template-columns: repeat(7, 50px);
            }
            @include var.breakpoint("mobileSM") {
                grid-template-columns: repeat(7, 45px);  
            }
            @include var.breakpoint("mobileXS") {
                grid-template-columns: repeat(7, 30px);  
            }
            grid-template-columns: repeat(7, 70px);
            column-gap: 5px;
            row-gap: 5px;

            display: grid;
            div {
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 150%;
                color: #666666;
            }
        }
        .emptyField {
            background-color: transparent !important;
            opacity: 0;
            visibility: hidden;
            transition: all 0ms;
        }
        .pendingDay {
            background-color: var.getChooseColor(payment);
            border-color: var.getChooseColor(payment) !important;
        }
        .notActiveDay {
            opacity: 0.5;
            background-color: var.getChooseColor(notActive);
            border-color: var.getChooseColor(notActive) !important;
            color: lightgray;
        }

        .activeDay {
            color: black;
        }
        .fullDay {
            text-decoration: line-through;
            color: white;
            background-color: var.getChooseColor(full) !important;
            border-color: var.getChooseColor(full);
        }

        .todayDate {
            border: 1px solid var.getChooseColor(today) !important;
        }
        .checkInDate,
        .checkOutDate {
            overflow: hidden;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: var.getChooseColor(checkInOut) !important;
                position: absolute;
                clip-path: polygon(0 0, 0% 100%, 100% 0);
                top: 0;
                z-index: 0;
                border: 1px solid var.getChooseColor(checkInOut);
                left: 0;
            }
        }
        .checkInDate::before {
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
        .checkOutDate::before {
            clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
        }

        .activeDate {
            text-decoration: none !important;
            border-color: var.getChooseColor(chosen) !important;

            &:hover,
            & {
                background: var.getChooseColor(chosen) !important;
                color: white !important;
            }
            position: relative;
        }
        .dayPrice {
            font-weight: normal;
            font-size: 10px;
            @include var.breakpoint("mobileSM") {
                font-size: 9px;
            }
        }
        .monthWrapper {
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            h3 {
                text-align: center;
            }
        }
    }
}
