@use "../../styles/styles.scss" as var;
$drawerWidth: 500px;
.drawerContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(5px);

    @include var.breakpoint("mobileLG") {
        width: 100%;
    }
    background-color: rgba(17, 17, 26, 0.9);
}
.drawerWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    max-width: $drawerWidth;
    height: calc(100% - 80px);
    @include var.breakpoint("mobileLG") {
        max-width: unset;
        padding: 40px 25px;
        width: -webkit-fill-available;
    }
    width: 100%;
    padding: 40px 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: #fff;
    right: 0;
    top: 0;
    transition: all 200ms;
    animation: drawer 400ms forwards;

    .drawerBody {
        margin: auto 0px;
        width: 100%;
        padding: 5px 0px;
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 3px;
            background-color: var.getChooseColor(checkInRange);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var.getChooseColor(chosen);
        }
        display: flex;
        align-items: center;
        .dayItem {
            width: 65px;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 500;
            border-radius: 7.5px;
            background-color: var.getChooseColor(chosen);
            color: var.getChooseColor(checkInRange);
            &:last-child {
                background-color: var.getChooseColor(checkInOut);
            }
        }
        .bodyArrow {
            height: 3px;
            flex: auto;
            margin: 0px 50px;
            background-image: linear-gradient(to right, var.getChooseColor(chosen), var.getChooseColor(checkInOut));
            position: relative;
            border-radius: 50px;
            & > div {
                position: absolute;
                bottom: 100%;
                font-weight: 600;
                left: 50%;
                font-size: 1.1rem;

                color: var.getChooseColor(chosen);
                transform: translateY(-10px) translateX(-50%);
                & > .arrowMoreInfo {
                    min-width: max-content;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 200ms;

                    &.arrowShowMore {
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(-50%) translateY(40px) scale(1);
                    }
                    top: 100%;
                    background-color: rgba(17, 17, 26, 0.98);
                    padding: 20px 30px;
                    left: 50%;
                    transform: translateX(-50%) translateY(40px) scale(0.5);
                    text-align: center;
                    font-weight: 400;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 5px;
                    .moreInfoDay {
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        font-size: 0.9rem;
                        span {
                            color: aquamarine;
                        }
                    }
                    &::before {
                        clip-path: polygon(100% 0, 0 0, 50% 100%);
                        background-color: rgba(17, 17, 26, 0.918);
                        content: "";
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        transform: translateX(-50%) translateY(2px) rotate(180deg);
                        width: 30px;
                        height: 10px;
                    }
                }
            }
            &::before,
            &::after {
                background-color: var.getChooseColor(checkInOut);
                width: 20px;
                height: 100%;
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 50px;
            }
            &::before {
                transform: translateY(-7.5px) translateX(2px) rotate(45deg);
            }
            &::after {
                transform: translateY(7.5px) translateX(2px) rotate(-45deg);
            }
        }
        .drawerDay {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 1.2rem;
            font-weight: 600;

            svg {
                font-size: 1.1rem;
            }
            p {
                span {
                    font-weight: 300;
                    font-size: 1rem;
                    color: var.$priceColor;
                }
            }
        }
    }

    .drawerTitle {
        margin: 0;
        font-size: 2rem;
        small {
            font-size: 1rem;
        }
    }

    .drawerActions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        @include var.breakpoint("mobileSM") {
            flex-wrap: wrap;
            gap: 10px;
        }
        @include var.breakpoint("mobileLG") {
            gap: 10px;
        }
        width: 100%;
        .choosepayment {
            background-color: var.getChooseColor(payment) !important;

            &,
            svg {
                color: black;
            }
            font-weight: 500;
        }
        & > button {
            @include var.breakpoint("mobileLG") {
                font-size: 0.8rem;
            }
            width: 100%;
        }
        margin-top: auto;
    }

    .drawerClose {
        position: absolute;
        right: 30px;
        padding: 7.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 400ms;
        border-radius: 10px;
        cursor: pointer;
        & > svg {
            width: 30px;
            height: 30px;
        }
        &:hover {
            background-color: var.getChooseColor(checkInRange);
        }
    }
}

@keyframes drawer {
    from {
        right: -$drawerWidth;
    }
    to {
        right: 0px;
    }
}
